.maincontainer {
    text-align: center;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
    font-size: 36pt;
}
h2 {
    padding: 65px 0px 0px 0px;
    position: relative;
    text-align: center;
}
h3 {
    font-size: 24pt;
}
.userinput {
    font-size: 22pt;
    padding: 15px;
}
.inputbox {
    height:30px;
    margin-bottom: 10px;
}
.guessbutton {
    padding: 10px;
    font-size: 22pt;
    border: 2px solid black;
    font-family: "Trebuchet MS";
    background-color: yellow;
    margin-bottom: 15px;
}
.failure, .success, .none {
    margin: auto;
    justify-content: center;
    width: 200px;
    height: 200px;

    color: white;
    border: 2px solid black;
    
}
.success {
    background-color: green;
}
.failure {
    background-color: red;
}
.none {
    background-color: blueviolet;
}
.button {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.resultcontainer {
    margin: auto;
    color: white;
}
